<div class="px-4 py-2 my-2 text-center border-bottom">
    <img class="d-block mx-auto mb-2" src="/img//logo.svg" alt="" width="100" height="100">
    <!-- <h1 class="display-5 fw-bold">Perros y Gatos</h1> -->
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-0">Clasificaci&oacute;n de im&aacute;genes (Perro o Gato) haciendo uso de la c&aacute;mara web
            y utilizando la librer&iacute;a <a href="https://www.tensorflow.org/js">TensorFlow.js</a>
        </p>
        <p>** El modelo ha sido entrenado con imagenes de tamaño 100 x 100</p>
    </div>
</div>

<div class="b-example-divider"></div>